<div block="b-popup-specialist" class="remodal" data-remodal-id="popup-specialist">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <div elem="inner">
            <div elem="pic"><img src="img/popup-specialist-img.png" alt=""></div>
            <div elem="body">
                <div elem="info">
                    <div elem="title">Свяжитесь с Александрой</div>
                    <div elem="text">Если вы готовы договориться о встрече с Александрой, нажмите кнопку «Свяжите меня с Александрой», и мы создадим чат в WhatsApp по номеру телефона: <a href="+79268903311">+79268903311</a></div>
                    <a elem="change-method" href="#">Изменить способ связи со мной</a>
                    <div elem="bot">
                        <a elem="btn" href="#">Связаться</a>
                        <a elem="btn" mods="think" href="#">Я еще подумаю</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-popup-specialist -->