<div block="b-popup-specialist" mods="type2" class="remodal" data-remodal-id="popup-specialist-type2">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <div elem="inner">
            <div elem="pic"><img src="img/popup-specialist-img.png" alt=""></div>
            <div elem="body">
                <div elem="info">
                    <div elem="title">Свяжитесь с Александрой</div>
                    <div elem="text">Для того, чтобы мы связали вас с Александрой, введите пожалуйста ваши контактные данные:</a></div>
                    <form elem="form">
                        <div elem="items-input">
                            <div elem="item-input">
                                <div elem="item-input-name">Имя</div>
                                <input type="text" placeholder="Например, Сергей">
                            </div>
                            <div elem="item-input">
                                <div elem="item-input-name">Email*</div>
                                <input type="mail" placeholder="name@email.com">
                            </div>
                        </div>
                        <div elem="tab-items">
                            <div elem="tab-name">Выбор из способов связи*</div>
                            <div elem="tab-switches">
                                <button elem="btn-switch" type="button" class="js-btn-switch is-active-btn">Мессенджер</button>
                                <button elem="btn-switch" type="button" class="js-btn-switch">Позвонить</button>
                            </div>

                            <div elem="tab-content" class="js-tab-content is-active-content">
                                <div elem="tab-body">
                                    <a elem="link-social" href="whatsapp://send?phone=+79268903311"><i elem="messanger-icon"><img src="img/whatsApp-icon2.svg" alt=""></i>WhatsApp</a>
                                    <a elem="link-social" href="tg://resolve?domain=+79268903311"><i elem="messanger-icon"><img src="img/telegram-icon.svg" alt=""></i>Telegram</a>
                                    <a elem="link-social" href="http://www.facebook.com/"><i elem="messanger-icon"><img src="img/fb-icon.svg" alt=""></i>Facebook</a>
                                    <a elem="link-social" mods="vk-messanger" href="https://vk.com/"><i elem="messanger-icon"><img src="img/vk-icon.svg" alt=""></i>VK messenger</a>
                                    <a elem="link-social" href="viber://chat?number=+79268903311"><i elem="messanger-icon"><img src="img/viber-icon.svg" alt=""></i>Viber</a>
                                </div>
                            </div>

                            <div elem="tab-content" class="js-tab-content">
                                <div elem="tab-body">
                                    <a elem="link-social" href="whatsapp://send?phone=+79268903311"><i elem="messanger-icon"><img src="img/whatsApp-icon2.svg" alt=""></i>WhatsApp</a>
                                    <a elem="link-phone" href="tel:+79268903311">+79268903311</a>
                                </div>
                            </div>
                        </div>
                        <div elem="item-input" mods="phone-nickname">
                            <div elem="item-input-name">Номер телефона или nickname</div>
                            <input type="mail" placeholder="+7 916 8888888 ">
                        </div>
                        <div elem="bot">
                            <button elem="btn" type="submit">Связаться</button>
                            <a elem="btn" mods="think" href="#">Я еще подумаю</a>
                        </div>

                        <a elem="pick-psycholog" href="#">Подберите мне психолога</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div><!-- b-popup-specialist -->