.b-popup-specialist
    background-color #fff
    width 1280px
    max-width 100%

    &.remodal
        padding 0
        border-radius 0 

    @media (max-width 959px) 
        width 600px

    &--type2

        .b-popup-specialist__inner
            @media (max-width 1100px)    
                align-items flex-start

        .b-popup-specialist__btn--think
            margin-left 15px

    &__inner
        display flex
        align-items center

        @media (max-width 959px) 
            display block

    &__pic
        flex 0 0 50%
        width 50%
        max-width 50%

        img 
            max-width 100%
            height auto

        @media (max-width 959px) 
            width 800px    
            max-width 100%

    &__body
        flex 0 0 50%
        width 50%
        max-width 50%        
        padding-top 20px
        padding-bottom 20px

        @media (max-width 959px) 
            padding-right 20px
            padding-left 20px
            width 100%
            max-width 100%

    &__info
        width 430px
        max-width 100%    
        margin 0 auto

        @media (max-width 959px) 
            width 100%

    &__title
        font-size 32px
        color #000
        font-style normal
        font-weight 500
        line-height 48px    
        margin-bottom 20px

        @media (max-width 480px) 
            font-size 26px
            line-height 32px

    &__text
        font-size 20px
        color #424142    
        font-style normal
        font-weight normal
        line-height 28px
        margin-bottom 10px

        a
            font-size inherit 
            color inherit
            font-style inherit
            font-weight inherit
            line-height inherit
            &:hover
                text-decoration none

        @media (max-width 480px) 
            font-size 18px
            line-height 26px        

    &__change-method
        font-size 16px
        color #F27151
        font-weight 500
        line-height 28px
        &:hover
            color #F27151
            
    &__bot
        margin-top 30px        
        display flex
        align-items center

        @media (max-width 440px) 
            flex-direction column

    &__btn
        font-size 16px
        color #FFF
        font-style normal
        font-weight 600
        line-height 20px
        text-align center
        display block
        letter-spacing 0.1px
        background #F27151
        flex 0 0 48%
        max-width 48%
        width 48%
        padding 14px 20px  
        border 2px solid #F27151
        transition opacity .3s

        &--think
            color #F27151
            margin-left 10px
            padding-top 15px
            padding-bottom 15px
            background-color #fff
            border 2px solid #F27151
            align-self baseline

            &:hover
                color #f27151 !important

            @media (max-width 440px)
                margin-left 0 !important

        &:hover
            color #fff
            text-decoration none
            opacity .8

        @media (max-width 440px) 
            flex auto
            width 100%
            max-width 100%   
            margin-bottom 10px   

    &__form
        margin-top 30px

    &__items-input
        display flex
        justify-content space-between
        flex-wrap wrap
        margin-bottom 30px

    &__item-input
        flex 0 0 210px
        width 210px
        max-width 210px      

        @media (max-width 480px) 
            flex auto
            width 100%
            max-width 100%  
            margin-bottom 10px

        &--phone-nickname
            width 100%
            max-width 100%  

        input 
            width 100%
            height 48px
            padding-left 15px
            padding-right 15px
            border none
            background rgba(9, 19, 33, 0.0638304)  
            outline none !important

    &__item-input-name
        font-size 14px
        color #424142       
        font-style normal
        font-weight bold
        line-height 20px
        margin-bottom 10px

    &__tab-items
        margin-bottom 45px    

    &__tab-name
        font-size 14px
        color #424142       
        font-style normal
        font-weight bold
        line-height 20px
        margin-bottom 10px

    &__tab-switches
        display flex
        align-items center
        justify-content space-between
        width 235px
        max-width 100%
        padding 3px
        margin-bottom 30px
        background rgba(9, 19, 33, 0.0638304)
        background-blend-mode multiply
        border-radius 8px
    
    &__btn-switch
        font-size 16px
        color #424142
        font-style normal
        font-weight 500
        line-height 24px
        letter-spacing 0.1px
        border none
        background-color transparent
        border-radius 7px
        padding 6px 12px 8px
        transition color .3s, background-color .3s
        outline none !important
        &.is-active-btn
            background #FFF
            &:hover
                color #424142

        &:hover
            color #f27151  

    &__tab-content
        display none

        &.is-active-content
            display block   

    &__tab-body
        width 415px
        max-width 100%
        display flex
        flex-wrap wrap       
        align-items center         

    &__link-social
        font-size 16px
        color #424142
        font-style normal
        font-weight normal
        line-height 24px
        letter-spacing 0.1px
        display inline-block
        vertical-align middle
        min-width 125px
        padding 6px 12px 8px 8px
        margin-bottom 10px
        background #FFF
        border 1px solid rgba(0, 0, 0, 0.07)
        margin-right 10px
        transition color .3s, border-color .3s
        &:hover
            color #F27151
            text-decoration none
            border-color #f27151

        &:last-child
            margin-right 0    

        &--vk-messanger
            font-size 14px
            padding 6px 3px 8px 2px    

    &__messanger-icon
        width 20px
        margin-right 8px        
        img 
            max-width 100%
            height auto

    &__link-phone
        font-size 20px
        color #424142        
        font-style normal
        font-weight normal
        line-height 22px
        display inline-block
        vertical-align middle
        margin-bottom 12px
        &:hover
            color #424142
            text-decoration none

    &__pick-psycholog
        font-size 14px
        color #FFFFFF
        font-style normal
        font-weight 500
        line-height 16px
        display block
        text-align center
        width 225px
        background #F27151
        border-radius 100px
        margin-top 30px 
        padding 12px 18px 13px
        margin-left auto
        transition opacity .3s
        &:hover
            color #fff
            text-decoration none
            opacity .8

        @media (min-width 1280px)    
            margin-top 70px 
            transform translateX(40%)

        @media (max-width 480px)    
            margin-top 15px
            width 100%    