.b-selection
    height 100%
    padding-top 50px
    padding-bottom 50px
    background-color #E5E5E5

    &__section
        width 1080px
        max-width 100%
        padding-left 15px
        padding-right 15px  
        margin 0 auto 

    &__title
        font-size 28px
        color #1C1F37    
        font-style normal
        font-weight bold
        line-height 34px
        padding-left 100px
        margin-bottom 30px

        @media (max-width 767px)
            padding-left 45px
            margin-bottom 25px

        @media (max-width 480px)
            padding-left 55px    
            line-height 30px

        @media (max-width 439px)
            padding-left 20px    

    &__items
        border-radius 16px
        padding 40px 150px 80px 40px
        background #FFF url('../img/pick-bg.svg') 0 100% no-repeat

        @media (max-width 1023px)
            padding 40px

        @media (max-width 480px)
            padding 20px

    &__item
        display flex
        justify-content space-between
        margin-bottom 80px
        &:last-child
            margin-bottom 0

        @media (max-width 959px)
            flex-wrap wrap    

        @media (max-width 767px)
            flex-direction column
            margin-bottom 40px

    &__info
        flex 0 0 55%
        width 55%
        max-width 55%
        padding-left 0
        margin-right 85px     
        
        &--hend
            margin-right 65px  

        @media (max-width 959px)
            margin-right 50px

        @media (max-width 767px)
            flex none    
            width 100%
            max-width 100%
            margin-right 0

        @media (max-width 439px) 
            padding-left 0

    &__change
        flex 0 0 35%
        width 35%
        max-width 35%
        display flex
        flex-direction column
        align-items center
        justify-content flex-start
        text-align center
        margin-top 60px

        &--hend
            flex 0 0 37%
            width 37%
            max-width 37%

        @media (max-width 767px)
            flex none    
            width 100%
            max-width 100% 

        @media (max-width 640px)
            margin-top 30px    

    &__name
        font-size 32px
        color #1C1F37
        font-weight 500
        line-height 42px
        margin-bottom 10px
        position relative
        display flex
        align-items center

        &--hend

            & ^[0]
                &__icon
                    flex 0 0 50px
                    width 50px
                    max-width 50px
                    margin-right 15px

        @media (max-width 480px)
            margin-bottom 0            

    &__icon
        flex 0 0 40px
        width 40px
        max-width 40px
        display block
        margin-right 25px

        img 
            max-width 100%
            height auto    

        @media (max-width 479px)
            display none    

        

    &__desc
        font-size 18px
        color #80818F
        font-weight normal
        line-height 30px
        padding-left 65px
        margin-bottom 20px

        @media (max-width 479px)
            margin-bottom 10px
            padding-left 0    

    &__text
        font-size 18px
        color #1C1F37
        line-height 24px
        padding-left 65px

        p
            margin-bottom 10px
            &:last-child
                margin-bottom 0

        @media (max-width 479px)
            margin-bottom 10px
            padding-left 0            
    
    &__btn-link
        font-size 16px
        font-style normal
        font-weight bold
        line-height 19px
        text-align center
        display block
        padding 18px
        transition opacity .3s
        &:hover
            text-decoration none

        &--auto
            color #FFFFFF
            width 290px
            max-width 100%
            margin-bottom 20px
            background linear-gradient(191.98deg, #FAC161 2.11%, #F97065 96.23%)
            box-shadow 0px 20px 40px rgba(242, 65, 65, 0.192567)
            border-radius 4px
            &:hover
                color #fff
                opacity .8

        &--hend
            color #FA9864
            width 330px
            max-width 100%
            margin-bottom 20px
            border 1px solid #FB8767
            border-radius 4px
            &:hover
                color #FA9864
                opacity .8

        @media (max-width 480px)
            width 100%
                    
    &__exempli
        font-size 14px
        color #80818F
        font-style normal
        font-weight normal
        line-height 20px
        text-align center
        width 250px
        max-width 100%
