<div block="b-selection">
    <div elem="section">
        <div elem="inner">
            <div elem="title">Как вы хотите, чтобы мы вам подобрали психолога?</div>
            <div elem="items">
                <div elem="item">
                    <div elem="info">
                        <div elem="name" mods="auto">
                            <i elem="icon"><img src="img/auto-pick-icon2.png" alt=""></i>
                            Автоматически
                        </div>
                        <div elem="desc">Результат за 5 минут</div>
                        <div elem="text">
                            <p>Психолога подберет алгоритм. </p>
                            <p>Вы сможете выбрать тему из разных вариантов и сразу получите рекомендации психологов. </p>
                            <p>Анонимно и безопасно.</p>
                        </div>
                    </div>
                    <div elem="change">
                        <a elem="btn-link" mods="auto" href="#">Подобрать автоматически</a>
                        <span elem="exempli">Рекомендуем начать <br> с автоматического подбора</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info" mods="hend">
                        <div elem="name" mods="hend">
                            <i elem="icon"><img src="img/hend-pick-icon2.png" alt=""></i>
                            Вручную
                        </div>
                        <div elem="desc">Результат на следующий день</div>
                        <div elem="text">
                            <p>Наш эксперт вручную выберет вам психолога. </p>
                            <p>Мы попросим вас текстом описать вашу задачу и сможем подобрать психолога значительно точнее.</p> 
                            <p>Эксперт работает с анонимизированной анкетой, ваши данные защищены.</p>
                        </div>
                    </div>
                    <div elem="change" mods="hend">
                        <a elem="btn-link" mods="hend" href="#">Подобрать с помощью эксперта</a>
                        <span elem="exempli">Если вам нужен точный подбор для длительной терапии</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-selection -->