.b-first-screen
    background #FFF
    box-shadow 0px 16px 25px rgba(26, 8, 65, 0.05)
    border-radius 4px

    &__section
        width 1920px
        max-width 100%
        margin 0 auto
    
    &__inner
        display flex

        @media (max-width 1023px)
            flex-direction column
            justify-content flex-start
            align-items center
            

    &__info
        flex 0 0 40%  
        width 40%
        max-width 40%
        padding-top 60px
        padding-bottom 55px

        @media (max-width 1023px)
            flex none
            width 75%
            max-width 100%
            padding-top 40px
            padding-right 15px
            padding-left 15px

        @media (max-width 768px)
            width 100%    

    // &__user-text
    //     font-size 18px
    //     color #1C1F37        
    //     font-style normal
    //     font-weight normal
    //     line-height 20px
    //     margin-bottom 8px

    &__title    
        font-size 46px
        color #1C1F37
        font-family 'Montserrat', sans-serif
        font-weight 600
        margin-bottom 10px
        
        @media (max-width 480px)
            font-size 32px
            line-height 36px

    &__desc
        font-size 18px
        color #1C1F37    
        font-style normal
        font-weight normal
        line-height 28px
        margin-bottom 20px

    &__video-items
        display flex
        align-items center
        flex-wrap wrap

    &__video-item
        margin-right 15px
        margin-bottom 12px
        position relative
        &:last-child
            margin-right 0

            .b-first-screen__addition

                @media (max-width 1320px)
                    left -140px
                    right auto
            
        &:hover
            .b-first-screen__addition
                display block    
                z-index 20

        .b-first-screen__addition
            width 340px
            top -65px
            left auto
            right -150px

            @media (max-width 1025px)
                display none !important

        .b-first-screen__addition-text
            font-size 18px
            line-height 26px
            

        @media (max-width 375px)
            margin-right 12px

    &__video

        iframe
            margin-bottom 30px        

    &__play-prev
        flex 0 0 132px
        width 132px
        max-width 132px
        height 65px
        display block
        font-size 0
        border 2px solid rgba(28, 31, 55, 0.2)
        box-shadow 0px 0px 9px rgba(26, 8, 65, 0.1)
        border-radius 4px
        overflow hidden
        position relative
        transition border-color .3s, opacity .3s
        &:hover
            opacity .7
            border 2px solid #FB8767
            
        img
            width 101%
            height inherit
            position absolute
            top 0
            left 0

    &__play-btn
        width 26px
        height 26px
        background-color #F97065
        border-radius 50%
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 2
        transition background-color .3s
    
    &__icon-play
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 9px
        height 11px
        background url('../img/play-icon.svg') 0 0 no-repeat

    &__btn-link
        font-size 18px
        color #fff
        font-style normal
        font-weight 400
        line-height 22px
        text-align center
        text-shadow 0px 1px 5px rgba(0, 0, 0, 0.25)
        display block
        width 260px
        max-width 100%
        border-radius 4px
        padding 19px 20px
        margin-top 10px
        background linear-gradient(191.98deg, #FAC161 2.11%, #F97065 96.23%)
        box-shadow 0px 20px 40px rgba(242, 65, 65, 0.192567)
        transition opacity .3s
        &:hover
            color #fff
            opacity .8    
            text-decoration none

        @media (max-width 768px)
            display none    
            
    &__bot
        display flex
        justify-content space-between
        flex-wrap wrap
        margin-top 25px

        @media (max-width 640px)
            margin-top 0

    &__consultation
        margin-top 5px        

    &__consultation-name
        font-size 14px
        color #000
        font-style normal
        font-weight normal
        line-height 20px
        margin-bottom 15px

    &__bot-name
        font-size 16px
        color #1C1F37    
        font-weight bold
        font-style normal
        line-height 18px
        position relative
        margin-bottom 10px

    &__prices
        display flex   
    
    &__addition-btn
        font-size 12px
        color rgba(28, 31, 55, 0.56)
        font-style normal
        font-weight normal
        text-align center
        line-height 14px
        margin-left 10px
        background rgba(154, 154, 154, 0.2)
        border none
        width 17px
        height 17px
        border-radius 50%
        padding 0
        transition background-color .3s, color .3s
        outline none !important
        cursor default !important
        &:hover
            color #fff
            background-color #FB8767

    &__addition
        width 340px
        padding 12px 20px 0
        background #FFF
        border 1px solid rgba(28, 31, 55, 0.2)
        box-sizing border-box
        box-shadow 0px -2px 20px rgba(26, 8, 65, 0.04)
        border-radius 7px
        position absolute
        top -135px
        left -95px
        z-index 2
        display none
        &:after
            content ''
            position absolute
            left 50%
            bottom 16px
            width 60px
            height 30px
            background-color #fff
            border 1px solid rgba(28, 31, 55, 0.2)
            box-shadow 0px -2px 20px rgba(26, 8, 65, 0.04)
            z-index -1
            transform rotate(-45deg) translateX(-50%)

            @media (max-width 768px)
                left 25%

        @media (max-width 768px)
            left 0
            width 290px    

    &__addition-title
        font-size 16px
        color #1C1F37    
        font-weight 500
        line-height 24px
        margin-bottom 5px

    &__addition-text
        font-size 12px
        color #1C1F37
        font-style normal
        font-weight normal
        line-height 18px
        position relative
        background-color #fff
        padding-bottom 16px
     

    &__price
        font-size 28px
        color #1C1F37    
        font-weight 900
        font-style normal
        line-height 18px
        margin-bottom 15px

    &__location-name
        font-size 12px
        color #1C1F37
        font-style normal
        font-weight normal
        line-height 17px
        display flex
        align-items center
        margin-bottom 5px
        transition color .3s
        &:hover
            text-decoration none
            color #fb8767
        &:active
            color #f97065    
    
        .color-location
            flex 0 0 10px
            width 10px
            max-width 10px
            height 10px
            display block
            border-radius 14px 
            margin-right 5px
            
            &.color-location-red
                background-color #F70E0E
            &.color-location-grey
                background-color #C4C4C4

    &__online-price
        margin-left 30px

        & ^[0]
            
            &__price
                font-size 16px
                margin-top 15px

    &__practices
        margin-top 5px
        
        @media (max-width 480px)
            margin-top 40px

    &__practices-items
        font-size 0        
        position relative
        &:after
            content ''
            position absolute
            right -45px
            bottom -30px
            width 106px
            height 72px
            background url('../img/stamp-pic.svg') 0 0 no-repeat
            background-size contain

            @media (min-width 1600px)
                right -60px

            @media (max-width 1365px)    
                width 80px
                right -10px
                bottom -35px

            @media (max-width 480px)    
                width 100px
                right -45px  

    &__practices-item
        width 75px
        height 50px
        position relative
        font-size 0
        margin-right 3px
        display inline-block
        vertical-align top
        border 1px solid rgba(28, 31, 55, 0.2)
        border-radius 4px
        overflow hidden
        transition border-color .3s
        &:hover
            border 1px solid #F97065

        img 
            max-width 100%
            height auto

        &--last-more

            span
                font-style normal
                color #1C1F37
                font-weight normal
                font-size 18px
                line-height 20px
                position absolute
                top 50%
                left 50%
                transform translate(-50%, -50%)

    &__practices-list
        list-style-type none
        padding-left 0
        margin-bottom 0
        width 220px
        max-width 100%
        margin-top 15px

        li
            font-size 12px
            color #000
            font-style normal
            font-weight normal
            line-height 16px
            padding-left 17px
            margin-bottom 15px
            position relative
            &:before
                content ''
                position absolute
                top 3px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color #F97065
            

    &__video-title
        font-size 36px
        color #000 
        font-style normal
        font-weight bold
        line-height 43px
        margin-bottom 15px

    &__video-desc    
        font-size 18px
        color #000
        font-style normal
        font-weight normal
        line-height 26px
        width 830px
        max-width 100%

        a
            color inherit

.b-slider-cpec
    flex 0 0 52%
    width 52%
    max-width 52%
    // height 704px
    overflow hidden
    margin-right 50px
    position relative

    @media (max-width 1023px)
        margin-right 0
        flex none
        width 75%
        max-width 75%

    @media (max-width 640px)
        width 100%
        max-width 100%

    &__items

        .slick-track
            height 700px

            @media (max-width 1023px)
                height 500px

            @media (max-width 768px)
                height 400px

            @media (max-width 480px)   
                height 300px 

        .slick-slide
            display flex
            justify-content center
            align-items center

    &__item

        img 
            width 100%
            height inherit
            object-fit cover


    &__items-thumb
        // position absolute
        // bottom 20px
        // left 0
        // z-index 2
        // width 700px
        // max-width 100%
        margin-top -130px
        position relative
        top -15px

        .slick-slide
            margin-left 10px
            margin-right 10px

    &__item-thumb
        font-size 0
        width 77px
        height 80px
        display: flex 
        align-items center 
        justify-content center
        border-radius 4px
        opacity .7
        overflow hidden
        cursor pointer
        outline none !important

        img 
            width 100%
            height inherit
            object-fit cover

.remodal
    max-width 1030px
    border-radius 14px
    text-align left
    padding 50px 50px 55px

    @media (max-width 767px)
        padding 15px

    iframe 
        @media (max-width 767px)
            height 250px !important

.remodal-close   
    top 15px
    right 15px
    outline none !important

    &:before
        content ''
        width 28px
        height 28px
        background url('../img/close-x-popup.svg') 0 0 no-repeat
        border none