<div block="b-first-screen">
    <div elem="section">
        <div elem="inner">
            <div block="b-slider-cpec">
                <div elem="items" class="js-slider-cpec">
                    <a elem="item" href="img/pick-spec-slider-img.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img2.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img2.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img3.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img3.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img4.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img4.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img5.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img5.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img6.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img6.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img2.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img2.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img3.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img3.jpg" alt=""></a>
                    <a elem="item" href="img/pick-spec-slider-img4.jpg" data-lightbox="first-screen-image"> <img src="img/pick-spec-slider-img4.jpg" alt=""></a>
                </div>
                <div elem="items-thumb" class="js-slider-cpec-thumb">
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img2.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img3.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img4.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img5.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img6.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img2.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img3.jpg" alt=""></div>
                    <div elem="item-thumb"><img src="img/pick-spec-slider-img4.jpg" alt=""></div>
                </div>
            </div>
            <div elem="info">
                {# <div elem="user-text">Анастасия, мы выбрали вам психолога</div> #}
                <div elem="title">Александра</div>
                <div elem="desc">
                    Гештальт психолог, которая работает методом психодрамы, применяет коучинг, аналитическую психотерапию и нарративную практику.
                </div>
                <div elem="video-items">
                    <div elem="video-item">
                        <a elem="play-prev" href="">
                            <span elem="play-btn" data-remodal-target="video"><i elem="icon-play"></i></span>
                            <img src="img/prev-video.png" alt="">
                        </a>
                        <div elem="addition">
                            <div elem="addition-text">
                                В этом видео я рассказываю о том, как проходят наши встречи.
                            </div>
                        </div>
                        <div elem="video" class="remodal" data-remodal-id="video">
                            <button data-remodal-action="close" class="remodal-close"></button>
                            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            <div elem="video-content">
                                <div elem="video-title">О себе</div>
                                <div elem="video-desc">Мы отправили список психотерапевтов, которые подходят вашим запросам на почту <a href="mailto:ellicht@gmail.com">ellicht@gmail.com</a> и в мессенджер @nelly_k</div>
                            </div>
                        </div>
                    </div>
                    <div elem="video-item">
                        <a elem="play-prev" href="">
                            <span elem="play-btn" data-remodal-target="video"><i elem="icon-play"></i></span>
                            <img src="img/prev-video.png" alt="">
                        </a>
                        <div elem="addition">
                            <div elem="addition-text">
                                В этом видео я рассказываю о том, как проходят наши встречи.
                            </div>
                        </div>
                        <div elem="video" class="remodal" data-remodal-id="video">
                            <button data-remodal-action="close" class="remodal-close"></button>
                            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            <div elem="video-content">
                                <div elem="video-title">О себе</div>
                                <div elem="video-desc">Мы отправили список психотерапевтов, которые подходят вашим запросам на почту <a href="mailto:ellicht@gmail.com">ellicht@gmail.com</a> и в мессенджер @nelly_k</div>
                            </div>
                        </div>
                    </div>
                    <div elem="video-item">
                        <a elem="play-prev" href="">
                            <span elem="play-btn" data-remodal-target="video"><i elem="icon-play"></i></span>
                            <img src="img/prev-video.png" alt="">
                        </a>
                        <div elem="addition">
                            <div elem="addition-text">
                                В этом видео я рассказываю о том, как проходят наши встречи.
                            </div>
                        </div>
                        <div elem="video" class="remodal" data-remodal-id="video">
                            <button data-remodal-action="close" class="remodal-close"></button>
                            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            <div elem="video-content">
                                <div elem="video-title">О себе</div>
                                <div elem="video-desc">Мы отправили список психотерапевтов, которые подходят вашим запросам на почту <a href="mailto:ellicht@gmail.com">ellicht@gmail.com</a> и в мессенджер @nelly_k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a elem="btn-link" href="#" data-remodal-target="popup-specialist">Договориться о встрече</a>
                <div elem="bot">
                    <div elem="consultation">
                        <div elem="consultation-name">Стоимость консультации</div>
                        <div elem="prices">
                            <div elem="indi-price">
                                <div elem="bot-name">
                                    Лично
                                    <button elem="addition-btn" class="js-addition-btn" type="button">?</button>
                                    <div elem="addition" class="js-addition">
                                        <div elem="addition-title">Почему выше цена?</div>
                                        <div elem="addition-text">
                                            Многие психологи арендуют кабинеты для очных занятий, поэтому часть стоимости занятия идёт на оплату аренды кабинета.
                                        </div>
                                    </div>
                                </div>
                                <div elem="price">3 000 Р</div>
                                <div elem="location">
                                    <a elem="location-name" href="#"><i class="color-location color-location-red"></i>Парк Культуры</a>
                                    <a elem="location-name" href="#"><i class="color-location color-location-grey"></i>Нагатинская&nbsp;&nbsp;&nbsp;&nbsp;+4</a>
                                </div>
                            </div>
                            <div elem="online-price">
                                <div elem="bot-name">Онлайн</div>
                                <div elem="price">2800 Р</div>
                            </div>
                        </div>
                    </div>
                    <div elem="practices">
                        <div elem="bot-name">9 лет практики</div>
                        <div elem="practices-items">
                            <a elem="practices-item" href="img/diplom2.jpg" data-lightbox="practices-image"><img src="img/diplom2.jpg" alt=""></a>
                            <a elem="practices-item" href="img/certif-results3.jpg" data-lightbox="practices-image"><img src="img/certif-results3.jpg" alt=""></a>
                            <a elem="practices-item" mods="last-more" href="#"><span>+10</span> <img src="img/practic-min-img3.png" alt=""></a>
                        </div>
                        <ul elem="practices-list">
                           <li>Регулярно проходит супервизию</li> 
                           <li>Есть рекомендации от опытных психологов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-first-screen -->