<header block="app-header" mix="block:mt-4">
    <div elem="section">
    {% if pageTitle == 'Профиль специалиста' %}
        <div block="b-logo">
            <a elem="img" href="/"><img src="img/logo-meta-high.svg" alt=""></a>
        </div><!-- b:b-logo -->
        {% include "b-pick-specialist-tabs.html" %}
    
    {% endif %}
    </div>
</header><!-- b:app-header -->
