.app-header
    flex none
    
    &__section
        width 1920px
        max-width 100%
        margin 0 auto
        position relative

.b-logo
    
    position absolute
    left 85px
    top 125px
    z-index 15

    @media (max-width 1279px)
        display none
    
    &__img
        font-size 0
        display block
        width 106px
        
        img 
            max-width 100% 
            height auto