<div block="b-pick-specialist-tabs">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                <div elem="item" mods="best" class="js-item-tab is-active-tab">
                    
                    <div elem="img"><img src="img/pick-spec-img.png" alt=""></div>
                    <div elem="body">
                        <div elem="best-text">Лучшее совпадение</div>
                        <div elem="name">Александра</div>
                        <div elem="info">
                            <div elem="price">2800 Р</div>
                            <i></i>
                            <div elem="advantage-text">9 лет практики</div>
                        </div>
                    </div>
                </div>
                <div elem="item" class="js-item-tab">
                    <div elem="img"><img src="img/pick-spec-img2.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Виолетта</div>
                        <div elem="info">
                            <div elem="price">2800 Р</div>
                            <i></i>
                            <div elem="advantage-text">9 лет практики</div>
                        </div>
                    </div>
                </div>
                <div elem="item" class="js-item-tab">
                    <div elem="img"><img src="img/pick-spec-img3.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Маргарита</div>
                        <div elem="info">
                            <div elem="price">2800 Р</div>
                            <i></i>
                            <div elem="advantage-text">9 лет практики</div>
                        </div>
                    </div>
                </div>
                <div elem="item" mods="more">
                    <a elem="link" href="#">Посмотреть ещё 20 подходящих вам психологов</a>
                </div>
                <div elem="item" mods="hend" class="js-addition-hend" data-remodal-target="addition-mob">
                    <a elem="link" href="#">Подберите мне вручную</a>
                    <div elem="addition" class="js-addition-show">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        <div elem="addition-body">
                            <div elem="addition-title">Результат на следующий день</div>
                            <div elem="addition-text">
                                Эксперты Меты подберут вам психолога вручную по двадцати факторам, чтобы вам было комфортно работать с психологом.
                            </div>
                            <div elem="addition-importance">Мы не храним ваши данные и обрабатываем анонимно</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-pick-specialist-tabs -->