.b-pick-specialist-tabs
    background #FFF
    box-shadow 0px 8px 12px rgba(26, 8, 65, 0.06)
    position relative
    z-index 10

    &__section
        width 1920px
        max-width 100%

    &__inner
        width 100%
        &::-webkit-scrollbar
            width 0
            height 0
            display none

        @media (max-width 1330px)
            overflow-x auto
            

    &__items
        display flex
        
        @media (max-width 1330px)
            width 1330px

        @media (max-width 640px)
            width 640px    
        
    &__item
        display flex
        align-items center  
        justify-content center  
        padding 12px 25px
        flex 1 1 auto
        border-right 2px solid #F4F6FA
        border-bottom 4px solid #F4F6FA
        transition border-bottom-color .3s, background-color .3s, opacity .3s
        cursor pointer
        opacity 0.5
        &:hover
            // border-bottom-color #FB8767
            background-color #F4F6FA
            opacity 0.8

            & ^[0]

                &__img
                    border-color #D8D8D8
                
                &__name
                    color #fb8767       

                &__info
                    color #fb8767        

                    i
                        background #fb8767  

        &:active
            border-bottom-color #FB8767
            background-color #FEF5F1   

            &.b-pick-specialist-tabs__item--more
                border-bottom-color transparent  

                & ^[0]
                    &__link
                        color #FB8767

            &.b-pick-specialist-tabs__item--hend
                border-bottom-color transparent   

                & ^[0]
                    &__link
                        color #FB8767
                    

            & ^[0]

                &__img
                    border-color #fb8767      

        &--hend
            border-bottom-color transparent   
            position relative
            // &.is-active-tab
            //     border-bottom-color transparent !important
            //     background-color rgba(253,222,209,0.5)
            //     opacity 1 !important

            & ^[0]
                &__link
                    width 140px

            &:hover
                opacity 1 !important
                & ^[0]
                    &__addition
                        display block

                & ^[0]
                    &__link
                        color #FB8767
                        width 140px        

        &--more
            border-bottom 4px solid transparent     

            & ^[0]

                &__link
                    @media (max-width 640px)
                       font-size 14px

        &.is-active-tab
            border-bottom-color #FB8767
            background-color: rgba(253,222,209,0.5)
            opacity 0.8

            & ^[0]
                &__img
                    border-color #FB8767

        @media (max-width 640px)
            flex 0 0 230px
            padding 8px 10px                
            opacity 1            
    
    &__best-text
        font-size 14px
        color #F97065
        font-weight 900
        font-style normal
        line-height 17px
        position relative

    &__img
        flex 0 0 60px
        width 60px
        height 60px
        border 2px solid transparent
        border-radius 50%
        overflow hidden  
        position relative
        margin-right 15px
        transition border-color .3s

        img 
            max-width 100%
            height auto
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)

        @media (max-width 640px)
            flex 0 0 40px
            width 40px
            height 40px

    &__name
        font-size 20px
        color #1C1F37
        font-weight bold        
        line-height 30px

        @media (max-width 640px)
            font-size 16px
            line-height 23px

    &__info
        font-size 12px
        color #1C1F37
        font-weight normal        
        line-height 17px 
        display flex
        align-items center

        i
            display block
            width 7px
            height 7px
            background rgba(28, 31, 55, 0.56)
            border-radius 50%
            margin-right 5px
            margin-left 5px
        
        @media (max-width 640px)
            display none    

    &__price
        font-weight bold

    &__link
        font-size 16px
        color rgba(28, 31, 55, 0.56)
        font-weight bold
        font-style normal
        line-height 22px
        width 250px
        &:hover
            text-decoration none
            color rgba(28, 31, 55, 0.56)

    &__addition
        width 340px
        background #FFF
        border 1px solid rgba(28, 31, 55, 0.2)
        box-sizing border-box
        box-shadow 0px -2px 12px rgba(26, 8, 65, 0.1)
        border-radius 7px
        position absolute
        bottom -185px
        right 10px
        z-index 2
        display none
        cursor default
        &:after
            content ''
            position absolute
            right 5%
            top -26px
            width 60px
            height 30px
            background-color #fff
            border 1px solid rgba(28, 31, 55, 0.2)
            box-shadow 0px -2px 12px rgba(26, 8, 65, 0.1)
            z-index -1
            transform rotate(-45deg) translateX(-50%)

            // @media (max-width 768px)
            //     left 25%

        &.remodal
            top 50px
            left 50px
            bottom auto
            padding 15px    
            &:after
                display none

            &.b-pick-specialist-tabs__addition
                display block    

        .remodal-close
            @media (min-width 769px)
                display none

        @media (max-width 768px)
            left 0
            width 290px    

    &__addition-body
        padding 12px 20px 0
        background #FFF
        border-radius 7px

    &__addition-title
        font-size 16px
        color #1C1F37    
        font-weight 500
        line-height 24px
        margin-bottom 5px

    &__addition-text
        font-size 12px
        color #1C1F37
        font-style normal
        font-weight normal
        line-height 18px
        position relative
        background-color #fff
        padding-bottom 16px        
    
    &__addition-importance
        font-size 12px
        color #1C1F37    
        font-style normal
        font-weight normal
        line-height 17px
        position relative
        padding-left 25px
        padding-bottom 15px
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 12px
            height 16px
            background url('../img/importance-icon.svg') 0 0 no-repeat