<footer block="app-footer">
{% if pageTitle == "Профиль специалиста" %}
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <div elem="title">Не нашли подходящего специалиста?</div>
                {# <div elem="subtitle">Посмотрите всех наших специалистов </div> #}
            </div>
            <a elem="btn-go-to" href="#" data-remodal-target="popup-specialist-type2">Посмотрите других</a>
        </div>
        <div elem="copy">&copy; Мета</div>
    </div>
{% endif %}
</footer><!-- b:app-footer -->
