.app-footer
    flex none
    background linear-gradient(180deg, rgba(220, 229, 241, 0.2) -26.52%, #CED2E2 118.43%)

    &__section
        width 1310px
        max-width 100%
        padding 20px 15px 15px
        margin 0 auto
        position relative
        &:before
            content ''
            position absolute
            top -125px
            left 0
            width 315px
            height 260px
            background url('../img/footer-pic.svg') 0 0 no-repeat
            @media (max-width 1100px)
                width 285px
                background-size contain

            @media (max-width 480px)
                display none

        &:after
            content ''
            position absolute
            right 20px
            bottom 25px
            width 113px
            height 114px
            background url('../img/footer-pic2.svg') 0 0 no-repeat
            @media (max-width 480px)
                bottom 15px

    &__inner
        display flex    
        // align-items center
        // justify-content center
        flex-direction column
        padding-left 340px

        @media (max-width 1280px)
            justify-content flex-end

        @media (max-width 960px)
            padding-left 0    

        @media (max-width 1100px)
            margin-top 50px

        @media (max-width 959px)
            flex-direction column


    &__head
        font-size 24px
        color #000
        font-style normal
        font-weight bold
        line-height 39px

        @media (max-width 480px)
            font-size 24px
            line-height 32px

    &__title
        margin-bottom 10px        

    // &__subtitle
    //     font-weight normal
    //     line-height 36px

    //     @media (max-width 480px)
    //         line-height 24px

    &__btn-go-to
        font-size 16px
        color #FB8767
        font-style normal
        font-weight bold
        text-align center
        line-height 22px
        padding 18px 25px
        background rgba(255, 255, 255, 0.8)
        border 1px solid #F97065
        box-sizing border-box
        border-radius 4px
        transition opacity .3s
        width 215px
        position relative
        &:hover
            color #FB8767
            text-decoration none
            opacity .9

            &:after
                right 10px

        &:after
            content ''
            position absolute
            top 50%
            transform translateY(-50%)
            right 15px
            width 24px
            height 24px
            background url('../img/arr-go-to-spec.svg') 0 0 no-repeat
            transition right .3s

        @media (max-width 959px)
            margin-top 15px    
            margin-left 0

        @media (max-width 480px)    
            width 100%
    
    &__copy
        font-size 24px
        color rgba(28, 31, 55, 0.56)
        font-style normal
        font-weight normal
        line-height 28px
        margin-top 70px

        @media (max-width 480px)   
            margin-top 130px