.app--bProfile-type2
    .app__main
        background #F4F6FA
    .jq-number 
        padding-right 0
        max-width 139px
        width 100%

    .jq-number__field
        max-width 139px
        width 100%
        border none
    .jq-number__spin
        top 14px 
        right 5px
        background none
        border none
        box-shadow none
    .jq-number__spin.minus 
        top auto
        bottom 15px
    .jq-number__spin:after
        // top 19px
        // left 6px
        // border-bottom 5px solid #e8e8e8
    // .jq-number__spin.minus:after
    //     top -10px
    .jq-radio 
        width 28px
        height 28px
        margin-right 16px
        border 3px solid #F4F4F4
        box-sizing border-box
        border-radius 14px
        background none 
        flex-shrink 0
        transition .3s
        &.checked 
            border 3px solid #FB8767
            .jq-radio__div
                background #FB8767
                border-radius 14px
                width 16px
                height 16px
                box-shadow none

    .jq-checkbox 
        flex-shrink 0
        transition .3s
    // .jq-checkbox 
    //     width 28px
    //     height 28px
    //     border 2px solid #F4F4F4
    //     box-sizing border-box
    //     border-radius 4px
    //     background none
    //     margin-right 13px
    //     background none
    //     &.checked 
    //         background #FB8767 url(../img/checked-box.png) 3px center no-repeat
    //         border 2px solid #FB8767
    //         box-shadow none
    //         &:hover 
    //             border 2px solid #CB6D54
    //             background #CB6D54 url(../img/checked-box.png) 3px center no-repeat
    //     &:hover 
    //         border 2px solid #FB8767
    //     &.hover 
    //         // background #CB6D54
    //         // display none
    //         border 2px solid #CB6D54 !important
    //         background #CB6D54 url(../img/checked-box.png) 3px center no-repeat
    // .jq-checkbox.checked .jq-checkbox__div
    //     border none
        

.app--bProfile-type2    
    .b-profile 
        height 100%
        background #F4F6FA

        &--type2

            .b-profile__item-title
                padding-bottom 5px    

        &__body 
            max-width 1100px 
            width 100% 
            height 100%
            margin 0 auto 
            padding-top 23px
            padding-bottom 16px
            position relative
            @media all and (max-width 1200px)
                padding-top 85px
            @media all and (max-width 768px)
                padding-bottom 114px
            @media all and (max-width 767px)
                padding-top 20px    
        &__logo 
            position absolute
            top 23px
            left 0
            width 106px 
            height 40px 
            @media all and (max-width 1200px)
                left 50% 
                transform translateX(-50%)
            
            @media all and (max-width 767px)   
                display none 
        &__item
            @media all and (max-width 950px)
                padding 0 16px
                &--contacts 
                    padding 0
            &-title 
                font-weight bold
                line-height 32px
                font-size 28px
                color #000000
                // padding-bottom 33px
                letter-spacing -0.6px
                width 820px
                max-width 100%
                margin 0 auto
                @media all and (max-width 1200px)
                    padding-bottom 15px
                    font-size 24px
                    line-height 28px
            &-block 
                // display flex 
                height 100%
                min-height 640px
                // max-height 680px
                // &:before 
                //     content ""
                //     display block
                //     height 680px 
                //     width 0
            &-wrap 
                display none
                width 100%
                flex-direction column 
                justify-content space-between
                &:first-child
                    display flex
                &.disabled
                    display none
                &.enabled 
                    display flex

                &--first-screen
                    .b-profile__head
                        height 80px
                
                &--variant-choice2
                   .b-profile__input-radio
                        padding 5px

                &--concreteness
                    .b-profile__addit-content-inner
                        padding-bottom 30px
                        padding-left 25px 

                &--key-tags
                    
                    .b-profile__input-checkbox-circle
                        display flex
                        align-items center
                        margin-bottom 8px
                        width 100%
                        padding-top 10px
                        padding-bottom 10px
                        padding-right 15px
                        padding-left 12px
                        display flex
                        align-items center
                        background #fff
                        border-radius 4px
                        border 2px solid #fff
                        .jq-checkbox
                            width 28px
                            height 28px  

                            &.checked 
                                border 3px solid #FB8767
                                .jq-checkbox__div
                                    width 16px
                                    height 16px
                                    margin 0
                
                &--metro
                    .b-profile__item-inner
                        display flex
                        margin-top 35px    
                        @media (max-width 959px)
                            flex-wrap wrap
                    
                    .b-profile__item-detail
                        padding-bottom 250px      

                    .b-profile__about-input 
                        position relative
                        &:after
                            content ''
                            position absolute
                            top 17px
                            right 15px
                            width 22px
                            height 22px
                            background url(../img/search-icon.svg) 0 0 no-repeat
                            opacity .5

                        input 
                            border 2px solid #d8d8d8
                            border-radius 4px
                            background #FFF
                            transition border-color .3s
                        
                            &.is-active-press
                                border-color #FB8767       

                &--about-me
                    .jq-checkbox
                        transition none

                    .b-profile__process-img
                        display none

                &--assessment
                    .b-profile__item-desc
                        font-size 18px
                        color #1C1F37
                        font-style normal
                        font-weight normal
                        line-height 24px
                        padding-right 50px

                    .b-profile__item-inner
                        &.choice-off

                            .b-profile__assessment-choice,
                            .b-profile__name
                                pointer-events none
                                opacity .3
        
                            .b-profile__btn-remove
                                display none    

                            .b-profile__btn-restore
                                display block    

            &--success
                height 100%

        &__name-wrp
            display flex        

            .b-profile__about-input
                flex 0 0 75%
                margin-right 60px

                @media (max-width 960px)
                    flex 0 0 100%
                    margin-right 0gin-right 0
            
            .jq-number__field
                box-shadow none    

        &__item-inner
            margin-bottom 10px   

            &.item-inner-is-active
                .arr-acc
                    transform rotate(0)     

        &__item-desc
            font-size 14px
            line-height 20px
            color #979797
            margin-bottom 15px
            width 820px
            max-width 100%
            margin 0 auto

        &__item-contacts
            @media all and (max-width 950px)
                padding 0 16px
        &__input-radio
            margin-bottom 8px 
            width 100%
            // height 64px
            padding-top 10px
            padding-bottom 10px
            padding-right 15px
            padding-left 12px
            display flex 
            align-items center 
            background #FFFFFF
            border-radius 4px
            border 2px solid #fff
            position relative
            transition .3s
            &.checked 
                border 2px solid rgba(251, 135, 103, 0.32)
            input 
                font-weight bold
                line-height 30px
                font-size 24px
                color #000000

            &:hover
                // border 2px solid rgba(251, 135, 103, 0.32)
                .jq-radio 
                    border 3px solid #FB8767

            &.checkbox-circle
                display flex
                align-items center
                margin-bottom 8px
                width 100%
                padding-top 10px
                padding-bottom 10px
                padding-right 15px
                padding-left 12px
                display flex
                align-items center
                background #fff
                border-radius 4px
                border 2px solid #fff
                &.checked 
                    border 2px solid rgba(251,135,103,0.32)
                .jq-checkbox
                    width 28px
                    height 28px  
                    margin-right 16px
                    border 3px solid #F4F4F4
                    box-sizing border-box
                    border-radius 14px
                    background none 
                    flex-shrink 0
                    transition .3s
                    &.checked 
                        border 3px solid #FB8767
                        .jq-checkbox__div
                            background #FB8767
                            border-radius 14px
                            width 16px
                            height 16px
                            box-shadow none      
                            border none
                @media all and (max-width 439px)
                    padding-right 30px

        
        &__addit-content-inner
            padding 12px 15px 45px 65px
            border-radius 4px
            background-color #fff
            display flex
            flex-wrap wrap
            width 100%
            margin-bottom 10px

            .b-profile__input-checkbox-circle
                &.checked
                    border none
                
                @media (max-width 959px)
                    flex none

            @media (max-width 959px)
                padding-left 20px
                flex-direction column        
        
        &__addit-content
            display none

        &__amount-pick
            font-size 16px
            line-height 24px
            color #FB8767     
            margin-right 40px
            margin-left auto

            @media (max-width 439px)    
                display none !important

        .arr-acc
            width 24px  
            height 24px
            background url('../img/arr-acc.svg') 0 0 no-repeat
            position absolute
            position absolute
            right 5px
            transform rotate(180deg)
            transition transform .3s
        
        &__input-checkbox-circle
            flex 0 0 50%
            display flex
            align-items center
            &.checked 
                border 2px solid rgba(251, 135, 103, 0.32)
            .jq-checkbox
                width 20px
                height 20px
                margin-right 16px
                border 3px solid #F4F4F4
                box-sizing border-box
                border-radius 20px
                background none 
                position relative
                &.checked 
                    border 3px solid #FB8767
                    .jq-checkbox__div
                        background #FB8767
                        border-radius 12px
                        border 1px solid #F4F4F4
                        width 12px
                        height 12px
                        margin 0
                        box-shadow none
                        position absolute
                        top 50%
                        left 50%
                        transform translate(-50%, -50%)
            
            &:hover
                .jq-checkbox
                    border 3px solid #FB8767

        &__checkbox-text
            font-weight 500
            font-size 16px
            line-height 24px
            color #1C1F37

            @media (max-width 480px)
                font-weight 400
                font-size 14px
                line-height 20px      

        &__input-radio-inner
            display flex
            flex-direction column

        &__input-checkbox
            display flex 
            background #fff 
            border-radius 4px
            padding 10px 60px 10px 12px
            margin-bottom 8px
            border 2px solid #fff
            &--last 
                padding-bottom 16px
            &.checked
                border 2px solid rgba(251, 135, 103, 0.32)
            @media all and (max-width 580px)
                flex-direction column
                padding 10px 16px 10px 12px
        &__checkbox
            // &-wrap    
            //     flex 0 0 220px 
            //     max-width 220px 
            //     width 220px
            //     border-right 2px solid #F4F6FA
            //     display flex 
            //     // align-items center
            //     span 
            //         font-weight bold
            //         line-height 30px
            //         font-size 24px
            //         color #000000
            //         padding-top 6px
            //         display block
            //     label
            //         font-weight bold
            //         line-height 30px
            //         font-size 24px
            //         color #000000
            //         padding-top 6px
            //     .jq-checkbox 
            //         margin-top 7px
            //     &:hover    
            //         .jq-checkbox 
            //             border 2px solid #FB8767
            //     .checked
            //         &:hover 
            //             border 2px solid #CB6D54
            //             background #CB6D54 url(../img/checked-box.png) center center no-repeat
            //     .jq-checkbox.checked .jq-checkbox__div
            //         border none
                
            //     @media all and (max-width 580px)
            //         flex auto 
            //         max-width 100% 
            //         width auto
            // &-text 
            //     padding-left 15px
            //     line-height 22px
            //     font-size 16px
            //     color #000000
            //     mix-blend-mode normal
            //     opacity 0.48
            //     flex 1 1 auto
            //     &.clicked 
            //         opacity 1
            //     @media all and (max-width 580px)
            //         padding-left 0
            //         padding-top 26px
            //     .irs
            //       max-width:100%;
            //       width 100%
            //       position:relative;
            //       // margin-bottom:14px;
            //       font-family $font
            //     .irs--flat .irs-line
            //         height 5px
            //         top 23px
            //         background #F4F4F4
            //         border-radius 1.5px
            //     .irs--flat .irs-bar
            //         height 5px
            //         top 23px
            //         background #E5E5E5
            //         &.hover 
            //             background #FB8767
            //         &.hover2 
            //             background #FB8767
                    
            //     .irs--flat .irs-handle
            //         width 21px
            //         height 21px
            //         background #FFFFFF
            //         border 4px solid #E4E4E4
            //         box-sizing border-box
            //         border-radius 50%
            //         margin-top -3px
            //         cursor pointer
            //         top 19px
            //         &:hover 
            //             width 25px 
            //             height 25px
            //             top 17px
            //         &.hover 
            //             border 4px solid #FB8767
            //         &.hover2
            //             border 4px solid #FB8767
            //         &.active 
            //             width 25px  
            //             height 25px  
            //             top 17px
            //         i
            //             display none
            //     .irs-from,
            //     .irs-to
            //         font-weight bold
            //         line-height 20px
            //         font-size 14px
            //         color #FFFFFF
            //         top -9px
            //         // margin-left 10px
            //         padding 6px 20px 6px 7px
            //         // opacity 0.88
            //         background #52504E
            //         border-radius 4px
            //         top -23px
            //         // &:hover 
            //         //     margin-left 11px
            //         &:before 
            //             content "₽"
            //             position absolute 
            //             top 6px
            //             left 46px
            //             width 10px 
            //             height 20px
            //             font-weight bold
            //             line-height 20px
            //             font-size 14px
            //             color #FFFFFF
            //             border-top none
            //             // color #000
            //         &:after 
            //             content ""
            //             position absolute 
            //             top 31px
            //             left 50%
            //             transform translateX(-50%) 
            //             width 0
            //             height 0
            //             border-style solid
            //             border-width 7px 7px 0 7px
            //             border-color #52504E transparent transparent transparent
            //     .irs--flat .irs-max, 
            //     .irs--flat .irs-min
            //         font-size 14px
            //         background none    
            //         top -6px

        &__item-name 
            font-weight bold
            line-height 30px
            font-size 20px
            color #000000
            @media all and (max-width 1200px)
                font-size 20px         

            @media all and (max-width 480px)
                font-size 16px  
                line-height 20px
        
        &__exempli
            font-size 14px
            line-height 20px
            color #1C1F37
            margin-top 5px

        &__additional-info
            font-size 16px
            line-height 20px
            color #000
            margin-bottom 8px 
            width 100%
            padding-top 5px
            padding-bottom 5px
            padding-right 15px
            padding-left 12px
            background #FFFFFF
            border-radius 4px
            border 2px solid #fff

            a
                color #fb8767

        &__name
            font-size 20px    
            color #000     
            line-height 30px
            margin-bottom 10px
            
            display flex

        &__btn-remove
            width 28px
            height 28px
            padding 0
            margin-left 5px
            border none
            background-color transparent
            background url('../img/remove-x.svg') 50% 75% no-repeat
            outline none !important

        &__assessment-choice-wrapp
            display flex
            align-items center
            justify-content space-between    
            margin-bottom 40px

            @media (max-width 639px)
                margin-bottom 30px
                display block

        &__assessment-choice
            display flex        
            box-shadow 0px 6px 5px rgba(26, 8, 65, 0.02)
            width 441px
            max-width 100%
            transition opacity .3s

            @media (max-width 639px)
                display block
        
        &__label-choice
            font-size 16px
            color #000
            line-height 18px
            font-weight normal
            text-align center  
            display flex
            align-items center
            justify-content flex-start 
            padding 19px 23px
            margin-bottom 0
            background #fff
            cursor pointer
            transition color .3s
            &:first-child
                border-radius 4px 0 0 4px
            &:last-child
                border-radius 0 4px 4px 0
            &:hover
                color #F97065
                background linear-gradient(0deg, rgba(251, 135, 103, 0.03), rgba(251, 135, 103, 0.03)), #FFFFFF    

            &.checked
                color #fff
                background #FB8767
                
            .jq-radio
                display none

        &__name
            transition opacity .3s        

        &__btn-restore
            font-size 14px
            color #F97065
            font-weight normal
            line-height 20px
            padding 0
            background-color transparent
            border none        
            display none
            outline none !important

            @media (max-width 639px)
                margin-top 25px

        &__head 
            display flex 
            justify-content space-between
            height 76px 
            background #FFFFFF
            box-shadow 0px 5px 5px rgba(26, 8, 65, 0.05)
            border-radius 4px

            @media all and (min-width 769px)
                position fixed
                bottom 10px
                left 50%
                transform translateX(-50%)
                width 1100px
                max-width 100%
            @media all and (max-width 768px)
                position fixed
                bottom 0
                left 0
                right 0
                height 80px
                // position relative 
                margin-top 20px
                &:before 
                    content ""
                    position absolute
                    height 4px
                    background-color #FB8767
                    left 0
                    width 102px
                    transition width ease-out 0.3s
        &__menu 
            display flex 
            padding 0
            margin 0
            list-style-type none 
            padding-left 11px
            align-items center
            li 
                padding 0 9px
                font-weight 900
                line-height 22px
                font-size 12px
                letter-spacing 1.2px
                color #C9C9C9
                &:nth-child(1)
                    color #000
                &.active 
                    color #000

                @media all and (max-width 960px)
                    font-size 9px    

            @media all and (max-width 880px)
                display none
        &__menu-wrap
            position relative
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            
        &__menu-line
            position absolute
            height 4px
            background-color #FB8767
            left 0
            right 0
            width 150px
            transition width ease-out 0.3s
            max-width 100%
            border-radius 10px 10px 10px 0px
                    
        &__passed
            padding 27px 2px 27px 2px
            /*&.active 
                border-top 4px solid #FB8767*/
        &__head-wrap 
            display flex 
            @media all and (max-width 768px)
                flex-direction column
                flex 1 1
        &__overall 
            margin-top -12px
            font-weight bold
            line-height 18px
            font-size 14px
            padding-right 16px
            color #858585
            &-text 
                display flex 
                flex-direction column
            span 
                &:nth-child(1)
                    color #000
                    @media all and (max-width 768px)
                        margin-right 4px
            @media all and (max-width 768px)
                display none
                margin-top 0
                &-img 
                    display none
                &-text 
                    padding 16px 16px 12px 16px
                    flex-direction row
                    padding-right 4px
            @media all and (max-width 375px)
                span 
                    &:nth-child(1)
                        margin-right 2px 
            @media all and (max-width 319px)
                font-size 13px
                
                    
                    
        &__button 
            display flex 
            align-items center
            @media all and (max-width 768px)
                margin-top 10px
                flex-direction column
                padding-right 15px
                padding-left 15px
        &__prev 
            padding 12px 12px 12px 24px
            font-weight bold
            line-height 19px
            font-size 16px
            color #FB8767
            border-left 1px solid #F4F6FA 
            @media all and (max-width 768px)
                padding 0px 12px 12px 10px
                display none
        &__next 
            margin 0 8px 0 12px
            display inline-block
            padding 20px 30px
            background linear-gradient(207.46deg, #FAC161 2.11%, #F97065 96.23%)
            box-shadow 0px 20px 40px rgba(242, 65, 65, 0.192567)
            border-radius 4px
            text-decoration none 
            font-weight bold
            line-height 19px
            font-size 16px
            color #FFFFFF
            opacity 0.5
            
            &.disabled
                opacity 1
                cursor pointer
            @media all and (max-width 768px)
                max-width 100%
                width 100%
                margin 0 16px
                text-align center
        &__demand
            &-title 
                font-weight bold
                line-height 22px
                font-size 16px
                padding-bottom 10px
                color #000000
                &--prac 
                    padding-top 17px
            &-textarea 
                display flex 
                margin-left -17px
                @media all and (max-width 850px)
                    flex-direction column    
                textarea
                    flex 0 0 607px 
                    max-width 607px
                    width 607px
                    height 220px
                    margin-left 17px
                    border 2px solid #efefef 
                    outline none 
                    padding 16px 0 0 16px  
                    line-height 22px
                    font-size 16px
                    color #1C1F37
                    &::placeholder 
                        line-height 22px
                        font-size 16px
                        color #1C1F37
                    @media all and (max-width 850px)
                        flex auto 
                        max-width 100%
                        width auto
                        height 200px
                &--about
                    margin-bottom 17px 
                    textarea 
                        height 98px
                &--prac 
                    textarea 
                        height 180px
                        flex 0 0 527px 
                        max-width 527px
                        width 527px
                            
            &-text 
                margin-left 17px
                line-height 20px
                font-size 14px
                color #1C1F37
                opacity 0.56
                &--about 
                    @media all and (max-width 850px)
                        display none
        &__process 
            padding-bottom 20px
            position relative 
            // border-top 2px solid #DCDEE1
            padding-top 16px
            // @media all and (max-width 1100px)
            //     border none 
            //     &:before 
            //         content ""
            //         position absolute 
            //         top 0 
            //         left 0
            //         height 2px 
            //         background #DCDEE1
            //         width 46%
            //     &:after
            //         content ""
            //         position absolute 
            //         top 0 
            //         right 0
            //         height 2px 
            //         background #DCDEE1
            //         width 46%
            //         @media all and (max-width 950px)
            //             right 20px
            //             width 44%
            //         @media all and (max-width 768px)
            //             width 40%
            //         @media all and (max-width 470px)
            //             width 38%
            @media all and (max-width 950px)
                padding 0
                margin-top 20px
                &:before
                    left 20px
                    width 44%
                &:after 
                    right 20px
                    width 44%    
            @media all and (max-width 768px)
                &:before
                    width 40%
                &:after
                    width 40%
            @media all and (max-width 470px)
                &:before
                    width 35%
                &:after
                    width 35%            
                        
            &-img 
                position absolute 
                left -59px 
                top 16px
                width 43px
                height 32px
                @media all and (max-width 1100px)
                    left 50% 
                    transform translateX(-50%)
                    top -20px
                
            &-text 
                line-height 20px
                font-size 14px
                color #9a9a9a
                max-width 607px 
                width 100% 
                padding 15px
                background-color rgba(0, 0, 0, .03)  
        
        &__process-text-title
            padding 4px 0 
            display flex 
            max-width 607px 
            width 100%
            .jq-checkbox 
                flex 0 0 20px
                max-width 20px
                width 20px
                height 20px
                margin-right 6px
                background #FFFFFF
                border 2px solid #EFEFEF
                box-sizing border-box
                border-radius 4px
                &.checked 
                    background #FB8767 url(../img/checked-pic.svg) 0 center no-repeat
                    border 2px solid #FB8767
                    box-shadow none
                    background-size contain
                    &:hover 
                        border 2px solid #CB6D54
                        background #CB6D54 url(../img/checked-pic.svg) 0 center no-repeat
                        background-size contain
                &.hover 
                    border 2px solid #CB6D54 
                    background #CB6D54 url(../img/checked-pic.svg) 0 center no-repeat 
                    background-size contain
            
            .jq-checkbox__div
                border none !important
            
            label
                font-size 16px
                line-height 22px
                color #1C1F37    

        &__about
            &-input
                display flex 
                flex-direction column
                label 
                    font-weight bold
                    line-height 22px
                    font-size 16px
                    color #000000
                    padding-bottom 7px
                    
                    @media all and (max-width 480px)
                        padding-bottom 0
                        margin-bottom 5px
                input 
                    max-width 607px
                    width 100%
                    height 56px
                    border 2px solid transparent
                    border-radius 4px
                    outline none
                    padding 0px 0 0 16px
                    line-height 22px
                    font-size 16px
                    color #1C1F37
                    mix-blend-mode normal
                    background #fff
                    // opacity 0.56
                    @media all and (max-width 850px)
                        max-width 100%
                    &::placeholder
                        color rgba(28, 31, 55, 0.56)
                span 
                    font-size 14px
                    line-height 20px
                    color #9a9a9a
                    width 600px
                    max-width 100%
                    margin-top 25px
                    margin-bottom 20px  

                    @media all and (max-width 480px)
                        margin-top 10px
                        margin-bottom 0      
            
                &.b-profile__about-input--email
                    .b-profile__about-check
                        margin-top 20px
                        margin-bottom 5px

            &-check
                padding 4px 0 
                margin 12px 0 20px 0
                display flex 
                // border 2px solid #F4F6FA
                max-width 607px 
                width 100%
                // &:hover 
                //     border 2px solid #CB6D54   
                label 
                    font-weight 400
                .jq-checkbox 
                    flex 0 0 20px
                    max-width 20px
                    width 20px
                    height 20px
                    margin-right 6px
                    background #FFFFFF
                    border 2px solid #EFEFEF
                    box-sizing border-box
                    border-radius 4px
                    &.checked 
                        background #FB8767 url(../img/checked-pic.svg) 0 center no-repeat
                        border 2px solid #FB8767
                        box-shadow none
                        background-size contain
                        &:hover 
                            border 2px solid #CB6D54
                            background #CB6D54 url(../img/checked-pic.svg) 0 center no-repeat
                            background-size contain
                    &.hover 
                        border 2px solid #CB6D54 
                        background #CB6D54 url(../img/checked-pic.svg) 0 center no-repeat 
                        background-size contain
                
                .jq-checkbox__div
                    border none !important

                @media (max-width 640px)
                    margin 5px 0 0px 0

                &--agree 
                    padding-top 0
                    padding-bottom 0
            &-inner    
                display flex
                margin-left -17px

                label 
                    font-weight bold
                    line-height 22px
                    font-size 16px
                    color #000000
                    padding-bottom 7px
                @media all and (max-width 850px)
                    flex-direction column
            &-age 
                display flex
                flex-direction column
                margin-left 17px
                position relative
                input 
                    max-width 139px
                    width 100%
                    height 56px
                    border 2px solid transparent
                    outline none
                    padding 0px 0 0 16px
                    line-height 22px
                    font-size 16px
                    mix-blend-mode normal
                    color rgba(28, 31, 55, 0.56)
                    background #fff
                    // opacity 0.56
                    &::placeholder
                        color rgba(28, 31, 55, 0.56)
                    @media all and (max-width 850px)
                        max-width 100%

            &-city
                display flex
                flex-direction column
                margin-left 17px
                input 
                    width 451px
                    height 56px
                    border 2px solid #efefef
                    outline none
                    padding 0px 0 0 16px
                    line-height 22px
                    font-size 16px
                    color #1C1F37
                    mix-blend-mode normal
                    background rgba(255, 255, 255, 0.56)
                    // opacity 0.56
                    &::placeholder
                        color rgba(28, 31, 55, 0.56)
                    @media all and (max-width 850px)
                        max-width 100%
                        width 100%
                @media all and (max-width 850px)
                    margin-top 17px
                &--contacts
                    input 
                        // max-width 607px
                        width 607px
                    // label 
                    //     padding-top 32px
            &-text 
                max-width 607px 
                width 100%
                line-height 20px
                font-size 14px
                color #1C1F37
                opacity 0.56
                padding-top 8px
                padding-bottom 24px

        .b-profile__about-inner--mobile-show
            margin-bottom 25px
            @media (max-width 480px)    
                margin-bottom 15px


            .jq-number__field
                box-shadow none
            @media (min-width 961px)
                display none

        .b-profile__about-inner--desktop-show        
            @media (max-width 960px)
                display none

        &__input-radio2
            padding 18px 60px 5px 12px 
            margin-bottom 8px 
            width 100%
            padding-left 12px
            display flex 
            flex-direction column
            background #FFFFFF
            border-radius 4px
            border 2px solid #fff
            &.checked 
                border 2px solid rgba(251, 135, 103, 0.32)
            input 
                font-weight bold
                line-height 30px
                font-size 24px
                color #000000
            label 
                font-weight bold
                line-height 30px
                font-size 24px
                color #000000
                @media all and (max-width 1200px)
                    font-size 20px
            &:hover
                .jq-radio 
                    border 3px solid #FB8767
            @media all and (max-width 600px)
                padding-right 12px
        &__item-detail 
            width 825px
            max-width 100%
            margin 15px auto 0
            @media all and (min-width 769px)
                padding-bottom 100px
            &--prac 
                padding-left 46px
                @media all and (max-width 600px)
                    padding-left 0

            

        &__input-radio-prac
            padding-bottom 10px
        &__agree 
            margin-top 7px
            margin-left -17px
            background #eceef2
            mix-blend-mode normal
            border-radius 4px
            padding 16px 48px 20px 16px
            max-width 639px
            width 100%
            &-text 
                padding-top 12px
                line-height 20px
                font-size 14px
                color #1C1F37
                opacity 0.56
            @media all and (max-width 850px)
                max-width 100%
                margin-left 0
            @media all and (max-width 425px)
                &-text 
                    display none
        &__success 
            display flex
            flex-direction column
            justify-content center
            height 100%
            &-title
                padding-top 40px
                font-weight bold
                line-height 32px
                font-size 28px
                color #000000
                padding-bottom 12px
                
                @media all and (max-width 768px)
                    font-size 28px
                    padding-top 27px
                    padding-bottom 10px
                    line-height 28x
            &-text 
                line-height 30px
                padding-bottom 12px
                font-size 20px
                color #1C1F37
                mix-blend-mode normal
                @media all and (max-width 768px)
                    line-height 22px
                    font-size 16px
            &-more 
                line-height 30px
                font-size 20px
                color #1C1F37
                mix-blend-mode normal
                @media all and (max-width 768px)
                    line-height 22px
                    font-size 16px
                a 
                    text-decoration none
                    color #FB8767
                    line-height 30px
                    font-size 20px
                    @media all and (max-width 768px)
                        line-height 22px
                        font-size 16px

            @media (min-width 1201px)
                padding-top 150px

        &__city
            margin-right 50px                

        &__metro-title
            line-height 22px
            font-size 16px     
            font-weight bold
            margin-bottom 10px
        
        &__city-name
            line-height 22px
            font-size 16px     
            font-weight normal
            margin-top 25px       

        &__metro-body
            flex 0 0 48%
            width 48%
            max-width 48%
            margin-right 50px
            height 1015px
            overflow-y auto
            &::-webkit-scrollbar
                width 0
                height 0
                display none

            @media (max-width 1023px)
                margin-right 25px

            @media (max-width 768px)
                flex auto
                width 100%
                max-width 100%
                margin-right 0

        &__never-mind
            width 375px 
            max-width 100%
            
            .b-profile__item-name
                font-size 16px
                font-weight 500
                color #979797   

            .b-profile__item-name
                color #1c1f37
            
            .b-profile__input-radio.checkbox-circle
                background-color transparent    
                border none
                padding 0
                cursor pointer

            .b-profile__input-radio.checkbox-circle .jq-checkbox
                border 2px solid rgba(28,31,55,0.2)
                border-radius 3px
                transition none    
                box-shadow none
                &.checked
                    border 2px solid #FB8767
            
            .b-profile__input-radio.checkbox-circle .jq-checkbox.checked .jq-checkbox__div
                width 100%
                height 100%
                margin 0
                border-radius 0
                transform rotate(0)
                background #fb8767 url('../img/checked-pic.svg') 0 center no-repeat
                background-size contain

        // &__metro-select

        //     > .select2-container--default
        //         position relative
        //         &:after
        //             content ''
        //             position absolute
        //             top 24px
        //             right 20px
        //             width 11px
        //             height 7px
        //             transform rotate(180deg)
        //             transition transform .3s
        //             background url(../img/arr-input.svg) 0 0 no-repeat
        //             opacity .5
        //         &.select2-container--open
        //             &:after
        //                 transform rotate(0)

        //     &.b-profile__about-input 
        //         position relative

        //         input 
        //             border 1px solid transparent
        //             border-radius 4px
        //             background #FFF 

        // &__placeholder
        //     color rgba(28, 31, 55, 0.56)
        //     position absolute
        //     top 13px
        //     left 13px
        //     z-index 1
        //     pointer-events none

        // &__letter-sorting
        //     font-size 16px
        //     line-height 18px
        //     font-weight 500
        //     color #1c1f37
        //     padding-left 20px
        //     margin-bottom 15px       


        &__list-selection
            list-style-type none
            padding 0
            // box-shadow 0px 5px 5px rgba(26, 8, 65, 0.05)
            width 100%
            margin-top 30px
            border-radius 4px
            z-index 0
                    
            li
                font-size 16px
                line-height 18px
                font-weight 400
                color #1c1f37
                padding 20px 15px 20px 65px
                border-bottom 1px solid rgba(28, 31, 55, 0.2)
                position relative 
                cursor pointer
                background #FFFFFF
                display flex
                justify-content space-between
                align-items center
                &:before
                    content ''
                    position absolute
                    top 15px
                    left 20px
                    width 28px
                    height 28px
                    border 2px solid rgba(28, 31, 55, 0.2)
                    border-radius 3px

                &:hover
                    // background rgba(251, 135, 103, 0.05)
                    &:before
                        border 2px solid #FB8767

                &.select-list  
                    // background rgba(251, 135, 103, 0.05)      
                    &:before
                        border 2px solid #FB8767
                        background #fb8767 url('../img/checked-pic.svg') 0 center no-repeat
                        background-size contain

                .station-color
                    width 12px
                    height 12px
                    display block
                    border-radius 50%
                    background-color #000

                    &.station-color-brown
                        background-color #7A3E07
                    &.station-color-around
                        border 3px solid #7A3E07
                        background-color transparent   
                    &.station-color-red
                        background-color #F70E0E
                    &.station-color-green
                        background-color #33A70A    
                    &.station-color-blue
                        background-color #3A1CB5
                    &.station-color-lightblue
                        background-color #30D6FB
                    &.station-color-orange
                        background-color #FA8D0E
                    &.station-color-purple
                        background-color #CB17DB
                    &.station-color-yellow
                        background-color #FECC38
                    &.station-color-grey
                        background-color #C4C4C4
                    &.station-color-lightgreen
                        background-color #BECF3E
                    &.station-color-darkblue
                        background-color #2193B3
                    &.station-color-darkpink
                        background-color #E67CA0
                    &.station-color-pink
                        background-color #E67CA0
                    &.station-color-lightpink
                        background-color #E07FCE

            li.single-station
                justify-content flex-start
                margin-bottom 12px
                box-shadow none
                border none

                .station-color
                    width 8px
                    height 8px
                    margin-right 7px         

                &.single-station-first
                    margin-top 12px     
        
        &__station
            flex 0 0 450px
            width 450px
            max-width 450px
            display flex
            flex-wrap wrap
            align-self flex-start 

            .b-profile__metro-title
                display none
                width 100%

            @media (max-width 480px)
                flex 0 0 auto
                max-width 100%

        &__station-list
            display none    
            flex-wrap wrap
            align-self flex-start
            margin-bottom 25px

            &.is-active-station-list
                display flex

            &--single-station
                margin-bottom 0    

        &__station-name
            font-size 12px
            color #000     
            font-style normal
            font-weight normal
            line-height 14px
            display flex
            align-items center
            padding 10px 35px 10px 10px
            margin-right 8px
            margin-bottom 8px
            border 1px solid rgba(28, 31, 55, 0.06)
            box-shadow 0px 6px 5px rgba(26, 8, 65, 0.02)
            border-radius 4px
            background-color #fff
            position relative
            cursor pointer
            transition border-color .3s
            &:before
                content ''
                position absolute
                top 11px
                right 9px
                width 12px
                height 12px
                background url('../img/remove-x.svg') 0 0 no-repeat

            &:hover
                border 1px solid #FB8767  
                background linear-gradient(0deg, rgba(251, 135, 103, 0.03), rgba(251, 135, 103, 0.03)), #FFFFFF

            .station-color
                width 8px
                height 8px
                background-color #000
                border-radius 50%
                margin-right 10px

                &.station-color-brown
                    background-color #7A3E07
                &.station-color-around
                    border 3px solid #7A3E07
                    background-color transparent   
                &.station-color-red
                    background-color #F70E0E
                &.station-color-green
                    background-color #33A70A    
                &.station-color-blue
                    background-color #3A1CB5
                &.station-color-lightblue
                    background-color #30D6FB
                &.station-color-orange
                    background-color #FA8D0E
                &.station-color-purple
                    background-color #CB17DB
                &.station-color-yellow
                    background-color #FECC38
                &.station-color-grey
                    background-color #C4C4C4
                &.station-color-lightgreen
                    background-color #BECF3E
                &.station-color-darkblue
                    background-color #2193B3
                &.station-color-darkpink
                    background-color #E67CA0
                &.station-color-pink
                    background-color #E67CA0
                &.station-color-lightpink
                    background-color #E07FCE    

            &.is-hide
                display none        

.jq-checkbox input, .jq-radio input
    display none

.select2-container
    margin 0 !important

.selection

    .select2-selection.select2-selection--multiple
        width auto
        margin 0

.select2-container--default .select2-selection--multiple
    border 1px solid transparent

.select2-container .select2-selection--multiple
    min-height 55px
    padding-top 12px
    padding-bottom 12px

.select2-container--default.select2-container--focus .select2-selection--multiple
    border 1px solid transparent
    padding-right 20px

.select2-container--default .select2-results>.select2-results__options
    // max-height none
    z-index 3
    overflow-y inherit

.select2-dropdown
    border none
    z-index 3

.select2-results__options--nested
    list-style-type none
    padding 20px 0
    background #FFFFFF
    box-shadow 0px 5px 5px rgba(26, 8, 65, 0.05)
    width 100%
    // height 305px
    border-radius 4px
    // overflow-y auto
    // overflow-x hidden
    // position absolute
    top 15px
    left 0
    z-index 3
    // display none

    &::-webkit-scrollbar
        width 4px
        background transparent
                

    &::-webkit-scrollbar-track 
        // -webkit-box-shadow inset 0 0 6px rgba(0,0,255,1) 
        border-radius 15px
    

    &::-webkit-scrollbar-thumb 
        border-radius  15px
        -webkit-box-shadow  inset 0 0 6px rgba(0,0,0,0.5) 
        background rgba(0,0,0, 0.01)
    

    li.select2-results__option
        font-size 16px
        line-height 18px
        font-weight 400
        color #1c1f37
        padding 12px 15px 12px 50px
        position relative 
        cursor pointer
        &:before
            content ''
            position absolute
            top 11px
            left 20px
            width 20px
            height 20px
            border 1px solid #EFEFEF
            border-radius 4px

        &:hover
            background rgba(251, 135, 103, 0.05)
            &:before
                border 1px solid #FB8767

        &.select2-results__option[aria-selected=true]
            background rgba(251, 135, 103, 0.05)      
            &:before
                border 1px solid #FB8767
                background: #fb8767 url(../img/checked-pic.svg) 0 center no-repeat;
                background-size contain

.select2-container--default .select2-selection--multiple
    input 
        height auto
        padding-top 12px !important
        padding-bottom 12px !important
        display none

.select2-container .select2-selection--multiple .select2-selection__rendered
    display flex
    align-items center
    flex-wrap wrap

.select2-container--default .select2-selection--multiple .select2-selection__choice
    margin-top 0
    border none 
    background none
    span
        margin 0
        width auto !important

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
    color #fb8767

.select2-container--default .select2-results__option--highlighted[aria-selected]
    background-color transparent
    color #000

.select2-container--default .select2-results__option[aria-selected=true]
    background rgba(251, 135, 103, 0.05)

.select2-container--default .select2-results__option .select2-results__option
    padding-left 50px

.select2-dropdown.select2-dropdown--below
    position absolute
    top 15px
    height 355px
    overflow-y auto
    
    &::-webkit-scrollbar
        width 4px
        background transparent
                

    &::-webkit-scrollbar-track 
        // -webkit-box-shadow inset 0 0 6px rgba(0,0,255,1) 
        border-radius 15px
    

    &::-webkit-scrollbar-thumb 
        border-radius  15px
        -webkit-box-shadow  inset 0 0 6px rgba(0,0,0,0.5) 
        background rgba(0,0,0, 0.01)
        
.select2-container--default .select2-results__group
    padding-left 20px
    padding-top 20px
    padding-bottom 0