.b-reception-locations
    color #000
    margin-bottom 55px

    &__section
        width 830px
        max-width 100%
        margin 0 auto 60px

    &__head
        padding-top 25px
        margin-bottom 10px

    &__title
        font-size 20px
        font-weight 500
        font-style normal
        line-height 30px

        @media (max-width 440px)
            font-size 30px
            line-height 36px

    &__body
        display flex
        justify-content space-between
        flex-wrap wrap

    &__info
        margin-right 10px    
        margin-bottom 25px

    &__location-name
        font-style normal
        font-weight normal
        font-size 18px
        line-height 26px
        display flex
        align-items center
        margin-bottom 10px
        
        .color-location
            flex 0 0 10px
            width 10px
            max-width 10px
            height 10px
            display block
            border-radius 14px 
            margin-right 10px
            
            &.color-location-red
                background-color #F70E0E
            &.color-location-green
                background-color #41C105  

        .location-go
            display block
            width 16px
            height 16px
            background url('../img/location-go.svg') 0 0 no-repeat
            margin-left 10px

            @media (max-width 440px)
                align-self flex-end
                position relative
                top -5px

        br
            display none    

        @media (max-width 440px)
            font-size 16px
            br
                display block

    &__social
        display flex
        align-items center
        margin-top 20px

    &__soc-link
        margin-right 15px            

    &__request-advice
        display flex
        flex-direction column
        justify-content center    
        align-items center

        @media (max-width 768px)
            width 261px
            max-width 100%
            flex-direction column
            justify-content flex-start
            align-items flex-start


    &__btn-request
        font-size 16px
        color #FFF
        font-style normal
        font-weight bold
        line-height 20px
        text-align center
        display block
        padding 15px
        transition opacity .3s
        width 300px
        max-width 100%
        margin-top -20px
        background linear-gradient(191.98deg, #FAC161 2.11%, #F97065 96.23%)
        box-shadow 0px 20px 40px rgba(242, 65, 65, 0.192567)
        border-radius 4px
        &:hover
            color #fff
            text-decoration none