<div block="b-reception-locations">
    <div elem="section">
        <div elem="inner">
            <div elem="body">
                <div elem="info">
                    <div elem="head">
                        <div elem="title">Места приема</div>
                    </div>
                    <div elem="location">
                        <span elem="location-name"><i class="color-location color-location-red"></i>
                            Парк Культуры,<br> ул. Льва Толстого 12 
                            {# <a class="location-go" href="#"></a> #}
                        </span>
                        <span elem="location-name"><i class="color-location color-location-green"></i>
                            Динамо,<br>  ул.Пилота Нестерова 7
                            {# <a class="location-go" href="#"></a> #}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-reception-locations -->