<div block="b-about-me">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <div elem="title">О себе</div>
            </div>
            <div elem="text">
                <p>Прежде, чем прийти в психологию, я успела получить специальность инженера-исследователя. Поработала в страховой компании, начиная с должности секретаря и заканчивая замом главного бухгалтера. Работала в детском саду комбинированного типа воспитателем, потом педагогом-психологом. В настоящее время работаю в Московской службе психологической помощи населению, консультирую, веду семинары и группы. Я в разводе, у меня сын 16 лет.  
                <p>Мне интересны различные виды творчества: рисунок, фотография, декупаж. Люблю спорт — для себя выбрала велосипед и плавание. Люблю путешествовать, интересна архитектура, природа, люди, кухня других мест. Мне интересна тема стиля в одежде, создания имиджа. Я ценю честность, везде, всегда, со всеми, в том числе и в терапевтическом формате. Создаю пространство для обсуждения интимных, неудобных тем. Для меня принципиально слышать свои желания, уметь их реализовывать. Помогаю клиентам слышать свои и давать им пространство. Верю, в безграничные возможности человека, в его способность к исцелению, изменению своей жизни.</p>
            </div>
            <div elem="addit-info">
                <div elem="addit-info-item">
                    <div elem="addit-info-name">Методы и инструменты</div>
                    <div elem="addit-info-desc">
                        Основной инструмент — <span>психодрама</span>. Применяет методы <span>коучинга</span>, <span>аналитической психотерапии</span>, <span>нарративной практики</span>.
                    </div>
                </div>
                <div elem="addit-info-item">
                    <div elem="addit-info-name">Опыт и образование</div>
                    <div elem="addit-info-desc">
                        В настоящее время работаю в Московской службе психологической помощи населению, консультирую, веду семинары и группы. Я в разводе, у меня сын 16 лет.
                    </div>
                </div>
            </div>
            <div elem="certificates">
                <figure elem="certificates-content">
                    <a elem="certificates-img" href="img/diplom2.jpg" data-lightbox="certificates-image"><img src="img/diplom2.jpg" alt=""></a>
                    <figcaption elem="certificates-desc">Московский Институт Психоанализа Психолог, психодраматевт, коуч 2005 — 2008 годы</figcaption>
                </figure>
                <figure elem="certificates-content">
                    <a elem="certificates-img" href="img/diplom.jpg" data-lightbox="certificates-image"><img src="img/diplom.jpg" alt=""></a>
                    <figcaption elem="certificates-desc">Московский гештальт институт,  гештальт-психотерапевт, 2017</figcaption>
                </figure>
                <figure elem="certificates-content">
                    <a elem="certificates-img" href="img/certificates.jpg" data-lightbox="certificates-image"><img src="img/certificates.jpg" alt=""></a>
                    <figcaption elem="certificates-desc">International coach association, 2015</figcaption>
                </figure>
                <figure elem="certificates-content">
                    <a elem="certificates-img" href="img/certificates2.jpg" data-lightbox="certificates-image"><img src="img/certificates2.jpg" alt=""></a>
                    <figcaption elem="certificates-desc">Московский гештальт институт, гештальт-психотерапевт, 2017</figcaption>
                </figure>
                <figure elem="certificates-content">
                    <a elem="certificates-img" href="img/certif-results.jpg" data-lightbox="certificates-image"><img src="img/certif-results.jpg" alt=""></a>
                    <figcaption elem="certificates-desc">
                        Московский Институт Психоанализа Психолог, психодраматевт, коуч 2005 — 2008 годы
                    </figcaption>
                </figure>
            </div>

            {% include "b-reception-locations.html" %}
        </div>
    </div>
</div><!-- b-about-me -->