.b-about-me
    color #000
    margin-top 70px
    margin-bottom 55px

    @media (max-width 480px)
        margin-top 5px

    &__section
        width 830px
        max-width 100%
        margin 0 auto 60px

    &__inner    
        padding 40px 48px 50px
        background #FFF
        box-shadow 0px 6px 5px rgba(26, 8, 65, 0.02)
        border-radius 14px

        @media (max-width 768px)
            padding-right 20px
            padding-left 20px

        @media (max-width 640px)
            border-radius 0


    &__head
        margin-bottom 15px

    &__title
        font-size 36px
        font-weight bold
        font-style normal
        line-height 43px

        @media (max-width 480px)
            font-size 30px
            line-height 35px

    &__text
        font-size 18px
        font-style normal
        font-weight normal
        line-height 30px

        p
            margin-bottom 10px
            &:last-child
                margin-bottom 0

        @media (max-width 480px)
            font-size 16px
            line-height 24px        

    &__addit-info
        margin-top 30px

    &__addit-info-item
        margin-bottom 20px    

    &__addit-info-name
        font-size 20px
        font-weight bold
        font-style normal
        line-height 26px
        margin-bottom 10px

        @media (max-width 480px)
            font-size 18px
            line-height 24px

    &__addit-info-desc
        font-size 18px
        font-weight normal
        font-style normal
        line-height 26px

        span 
            color #2F80ED

        @media (max-width 480px)
            font-size 16px
            line-height 22px    

    &__certificates
        font-size 12px
        font-style normal
        font-weight normal
        line-height 17px
        display flex
        flex-wrap wrap
        margin-left -15px
    
    &__certificates-content
        flex 0 0 170px
        width 170px
        max-width 170px
        margin-bottom 25px
        padding-left 15px
        &:hover

            & ^[0]
                &__certificates-img
                    border-color #FB8767

    &__certificates-img
        font-size 0
        width 170px
        max-width 100%
        height 100px
        display block
        margin-bottom 10px
        border-radius 8px
        overflow hidden
        border 1px solid transparent
        transition border-color .3s
        img 
            width 100%  
            height auto