= yaml =
pageTitle: Профиль специалиста
bodyClasses: 'profile-spec'
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    
    <div class="content-cpec js-content-cpec is-active-content-cpec">
        {% include "b-first-screen.html" %}

        {% include "b-about-me.html" %}
    </div>

    {% include "b-popup-specialist.html" %}
    {% include "b-popup-specialist-type2.html" %}
    
    <div class="content-cpec js-content-cpec">
        {% include "b-first-screen.html" %}

        {% include "b-about-me.html" %}
    </div>

    <div class="content-cpec js-content-cpec">
        {% include "b-first-screen.html" %}

        {% include "b-about-me.html" %}
    </div>

    

{% endblock %}
