html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

        &--spec
            padding-bottom 80px
            background url('../img/content-bg.svg') left 30% no-repeat #f4f6fa

            @media (max-width 1024px)
                padding-bottom 140px

            @media (max-width 480px)
                padding-bottom 0    
                background #f4f6fa

    &__main
        flex 1

.site-width 
    width 100%
    margin: 0 auto
    
    @media screen and (min-width: 1311px) 
        max-width 1230px 
    
    // @media screen and (max-width: $desctopMedia) 
    //     max-width $tabletMedia
    //     padding-left 15px
    //     padding-right 15px
    
    // @media screen and (max-width: $tabletMedia) 
    //     max-width $mobileMedia
    //     padding-left 15px
    //     padding-right 15px

.page-scroller.page-scroller--visible
    border-radius 50%
    border 1px solid
    width 40px
    height 40px

.content-cpec
    display none

    &.is-active-content-cpec
        display block

.fixed-btn-consultation
    font-size 18px
    color #fff
    font-style normal
    font-weight 400
    line-height 22px
    text-align center
    text-shadow 0px 1px 5px rgba(0, 0, 0, 0.25)
    display block
    width 432px
    max-width 100%
    border-radius 4px
    padding 19px 20px
    background linear-gradient(191.98deg, #FAC161 2.11%, #F97065 96.23%)
    box-shadow 0px 20px 40px rgba(242, 65, 65, 0.192567)
    transition opacity .3s
    position fixed
    bottom 20px
    left 50%
    transform translateX(-50%)
    z-index 15
    display none
    &:hover
        color #fff
        opacity .8    
        text-decoration none

    &.show
        display block    
        @media (min-width 1280px)
            width 276px
            right -3%
            left auto

    @media (max-width 480px)
        width 295px