<!doctype html>
<html lang="{{ app.lang }}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="theme-color" content="{{ app.stylus.theme_color }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link type="image/png" href="favicon.png" rel="icon">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        {# Open Graph #}
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ pageTitle }} - {{ app.package.name | capitalize}} v{{ app.package.version }} / {{ git.branch }}">
        <meta name="description" content="{{ app.package.description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://github.com/solversgroup/marmelad">
        <meta property="og:title" content="{{ pageTitle }}">
        <meta property="og:description" content="{{ app.package.description }}">
        <meta property="og:image" content="https://github.com/solversgroup/marmelad/blob/master/marmelad.svg?sanitize=true">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://github.com/solversgroup/marmelad">
        <meta property="twitter:title" content="{{ pageTitle }}">
        <meta property="twitter:description" content="{{ app.package.description }}">
        <meta property="twitter:image" content="https://github.com/solversgroup/marmelad/blob/master/marmelad.svg?sanitize=true">
        {# Open Graph End #}

        <title>{{ pageTitle }} - {{ app.package.name | capitalize }} v{{ app.package.version }} / {{ git.branch }}</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/app.css">

    </head>

    <body block="app" class="{{ bodyClasses }}">

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div elem="wrapper">

            {% if layout.header %}
            {% include 'app-header.html' %}
            {% endif %}
    
            <div elem="content" {% if pageTitle == 'Профиль специалиста' %}mods="spec"{% endif %}>

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- e:main -->

                {% if layout.left %}
                <aside elem="aside" mods="left">
                    {% block asideLeft %}{% endblock %}
                </aside><!-- e:aside m:left -->
                {% endif %}

                {% if layout.right %}
                <aside elem="aside" mods="right">
                    {% block asideRight %}{% endblock %}
                </aside><!-- e:aside m:right -->
                {% endif %}

            </div><!-- b:m-content -->

            {% if layout.footer %}
            {% include 'app-footer.html' %}
            {% endif %}

        </div><!-- b:wrapper -->

        {% include 'page-scroller.html' %}

        {% if pageTitle == "Профиль специалиста" %}
        <a class="fixed-btn-consultation" href="#" data-remodal-target="popup-specialist">договориться о встрече</a>
        {% endif %}

        <script src="js/vendors/jquery-3.2.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>

    </body><!-- b:w-page -->
</html>
